<div class="container">
  <h2 *ngIf="isEditMode">Edit Issue</h2>
  <h2 *ngIf="!isEditMode">Add Issue</h2>
  <app-alert
    [type]="'Large'"
    [isSuccess]="updateIssue.isSuccess"
    [message]="updateIssue.message"></app-alert>
  <form
    [formGroup]="issueForm"
    (ngSubmit)="onSubmit()"
    class="needs-validation">
    <div class="form-group">
      <input
        type="text"
        id="_id"
        formControlName="_id"
        class="form-control"
        placeholder="_id"
        hidden
        #_id
      />
    </div>
    <div formGroupName="createFields">
      <div class="form-group required">
        <label class="control-label" for="project">Project</label>
        <input
          type="text"
          id="project"
          formControlName="project"
          class="form-control"
          placeholder="project"
          [ngClass]="{ 'is-invalid': fAdd.project.touched && fAdd.project.errors }"
          #project
        />
        <div *ngIf="fAdd.project.touched && fAdd.project.errors" class="invalid-feedback">
          <div *ngIf="fAdd.project.errors.required">Project name is required</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group required col-md-3">
          <label class="control-label" for="type">Type</label>
          <input
            type="text"
            id="type"
            formControlName="type"
            class="form-control"
            placeholder="type"
            value="Bug"
            #type
          />
        </div>
        <div class="form-group required col-md-5">
          <label class="control-label" for="status">Status</label>
          <select
            id="status"
            formControlName="status"
            class="form-control"
            placeholder="status"
            #status
          >
            <option value="Open" selected>Open</option>
            <option value="In Progress">In Progress</option>
            <option value="Under Review">Under Review</option>
            <option value="Done">Done</option>
          </select>
        </div>
        <div class="form-group required col-md-4">
          <label class="control-label" for="priority">Priority</label>
          <select
            id="priority"
            formControlName="priority"
            class="form-control"
            placeholder="priority"
            #priority
          >
            <option value="Low">Low</option>
            <option value="Normal" selected>Normal</option>
            <option value="High">High</option>
          </select>
        </div>
      </div>
      <div class="form-group required">
        <label class="control-label" for="summary">Summary</label>
        <input
          type="text"
          id="summary"
          formControlName="summary"
          class="form-control"
          placeholder="summary"
          [ngClass]="{ 'is-invalid': fAdd.summary.touched && fAdd.summary.errors }"
          #summary
        />
        <div *ngIf="fAdd.summary.touched && fAdd.summary.errors" class="invalid-feedback">
          <div *ngIf="fAdd.summary.errors.required">Summary is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          id="description"
          formControlName="description"
          class="form-control"
          cols="60"
          rows="5"
          ></textarea>
      </div>
    </div> <!-- end createFields Group-->
    <div class="form-group">
      <input
        type="datetime"
        id="createdAt"
        formControlName="createdAt"
        class="form-control"
        placeholder="createdAt"
        hidden
        #createdAt
      />
    </div>
    <div class="form-group">
      <input
        type="datetime"
        id="updatedAt"
        formControlName="updatedAt"
        class="form-control"
        placeholder="updatedAt"
        hidden
        #updatedAt
      />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success" [disabled]="!issueForm.valid">
        <span *ngIf="isEditMode">Save</span>
        <span *ngIf="!isEditMode">Add Issue</span></button>
    </div>
  </form>
</div>
